{% extends 'base.html' %}


{% block content %}
	<div class="container"></br></br></br></br>
		<div class="col-sm-10">
			<h3 class="text-center">Return Policy</h3>
			Conditions for Returns The product must be unused, unworn, unwashed
			and without any flaws. Fashion products can be tried on to 
			see if they fit and will still be considered unworn.
			The product must include the original tags, user manual, warranty cards, freebies and accessories.
			The product must be returned in the original and undamaged manufacturer packaging / box. If the product 
			was delivered in a second layer of Daraz packaging, it must be returned in the same condition with return 
			shipping label attached. Do not put tape or stickers on the manufacturers box.
			If a product is returned to us in an inadequate condition, we reserve the right to send it back to you.

			<h3 class="text-center">Returns Reasons</h3>
			Delivery of a product that is damaged (physically destroyed or broken) / defective (faulty or malfunctioning) condition
			Delivery of a product that is incorrect (presentation different on website) / incomplete (missing parts)
			Delivery of a product that is “No longer needed” (you no longer have a use for the product / you have changed your mind about 
			the purchase / the size of a fashion product does not fit / you do not like the product after opening the package) - eligible 
			for selected products only.
		</div>
	</div>

{% endblock %}

{% block footer %}

{% endblock %}